/.vscode
/.idea
/.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
*.whl
*.tar.gz
*.zip
*.log
*.out
*.csv
*.json
*.hdf5
*.h5
*.pickle
.ipynb_checkpoints/
.history/
.ipynb_checkpoints/*
.idea/*
.vscode/*
.vscode-server/*
.vscode-test/*
.vscode-test-*
.vscode-remote-*
.vscode-server-insiders/*
.vscode-server-insiders-*
.vscode-server-metrics/*
.vscode-server-metrics-*


# Ignore Jupyter Notebook folder
notebooks/